body, html {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}
main {
	width: 100vw;
	height: 100vh;
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	background: linear-gradient(90deg, rgba(49,3,80,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(99,0,82,1) 100%);
	font-size: 2.5vh;
	font-family: arial;
	color: white;
}
div {
	margin: auto;
}
.ratingbtn {
	box-shadow:rgb(98, 41, 255) 0 -1vmin 2vmin 0 inset;
	background:rgba(0, 0, 0, 0) linear-gradient(rgb(61, 45, 249) 5%, rgb(6, 10, 250) 100%) repeat scroll 0% 0%;
	background-color:#2dabf9;
	border-radius:1vmin;
	border:0.3vmin solid #0b0e07;
	cursor:pointer;
	color:#ffffff;
	font-size: 4vh;
	padding: 0.8vh 1.5vh;
	text-decoration:none;
	text-shadow:0 0.3vmin 0 #263666;
	margin: 1vh;
}
.ratingbtn:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.ratingbtn:active {
	position:relative;
	top: 1vmin;
}
.resultParas p {
	padding: 1vmin;
	margin: 2vmin auto;
	font-size: 2vh;
}
.image {
	box-shadow: 0px 0px 83px 0px rgba(82,82,82,1);
	width: 35vh;
}
.score {
	display: inline-flex;
}